/*------------- Height --------------*/
@media (min-height: 350px){
	.logobottom{
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2em;
	}
}
@media (min-height: 435px){
	.navitem{
		height: 74px;
		line-height: 74px;
	}
}

@media (min-height: 560px){
	.navitem{
		height: 99px;
		line-height: 99px;
	}
}

/*------------- Width --------------*/

@media (min-width: 450px){

}

@media (min-width: 840px){
	.subnav{
		text-align: left;
	}
}

@media (min-width: 900px){
	header{
		width: 100px;
	}
	.content-wrapper{
		/*margin-left: 450px;*/
	}
}

@media (min-width: 1800px){
	.sidebar-wrapper{
		width: 740px;
		float: left;
		margin-left: 0;
	}
	.content-wrapper{
		/*margin-left: 800px;*/
	}
}